<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>LAN_IP_Info</key>
	<dict>
		<key>0100</key>
		<dict>
			<key>Key_Main</key>
			<string>MacBuddy:ManualSetup:TCPIP:TCPConfigureMethod</string>
		</dict>
		<key>0101</key>
		<dict>
			<key>Key_Main</key>
			<string>Manual</string>
		</dict>
		<key>0102</key>
		<dict>
			<key>Key_Main</key>
			<string>BootP</string>
		</dict>
		<key>0103</key>
		<dict>
			<key>Key_Main</key>
			<string>DHCP</string>
		</dict>
		<key>0104</key>
		<dict>
			<key>Key_Main</key>
			<string>PPP</string>
		</dict>
		<key>0105</key>
		<dict>
			<key>Key_Main</key>
			<string>ManualDHCP</string>
		</dict>
		<key>0200</key>
		<dict>
			<key>CharacterSet</key>
			<array>
				<string>Integer</string>
				<string>./</string>
			</array>
			<key>IPAddress</key>
			<string>0200</string>
			<key>Key_Main</key>
			<string>MacBuddy:ManualSetup:TCPIP:TCPStaticIP</string>
			<key>Key_OptionalValidateList</key>
			<array>
				<string>Unique</string>
			</array>
			<key>Key_ValidateList</key>
			<array>
				<string>Required</string>
				<string>IPAddress</string>
				<string>SubnetMaskConsistent</string>
			</array>
			<key>MaxLength</key>
			<string>18</string>
			<key>Router</key>
			<string>0400</string>
			<key>SubnetMask</key>
			<string>0300</string>
			<key>Unique</key>
			<string>0400</string>
			<key>Warning_Unique</key>
			<string>ERROR_IP_AND_ROUTER</string>
			<key>NSAccessibility</key>
			<dict>
				<key>AXDescription</key>
				<string>ip address</string>
			</dict>
		</dict>
		<key>0300</key>
		<dict>
			<key>CharacterSet</key>
			<array>
				<string>Integer</string>
				<string>.</string>
			</array>
			<key>IPAddress</key>
			<string>0200</string>
			<key>Key_Main</key>
			<string>MacBuddy:ManualSetup:TCPIP:TCPSubnetMask</string>
			<key>Key_ValidateList</key>
			<array>
				<string>Required</string>
				<string>SubnetMask</string>
				<string>SubnetMaskConsistent</string>
			</array>
			<key>MaxLength</key>
			<string>15</string>
			<key>Router</key>
			<string>0400</string>
			<key>SubnetMask</key>
			<string>0300</string>
			<key>NSAccessibility</key>
			<dict>
				<key>AXDescription</key>
				<string>subnet mask</string>
			</dict>
		</dict>
		<key>0400</key>
		<dict>
			<key>CharacterSet</key>
			<array>
				<string>Integer</string>
				<string>.</string>
			</array>
			<key>IPAddress</key>
			<string>0200</string>
			<key>Key_Main</key>
			<string>MacBuddy:ManualSetup:TCPIP:TCPRouter</string>
			<key>Key_ValidateList</key>
			<array>
				<string>Required</string>
				<string>IPAddress</string>
				<string>SubnetMaskConsistent</string>
			</array>
			<key>MaxLength</key>
			<string>15</string>
			<key>Router</key>
			<string>0400</string>
			<key>SubnetMask</key>
			<string>0300</string>
			<key>NSAccessibility</key>
			<dict>
				<key>AXDescription</key>
				<string>router address</string>
			</dict>
		</dict>
		<key>0500</key>
		<dict>
			<key>Array</key>
			<string>YES</string>
			<key>CharacterSet</key>
			<array>
				<string>Integer</string>
				<string>.</string>
			</array>
			<key>Key_Main</key>
			<string>MacBuddy:ManualSetup:TCPIP:TCPDNS</string>
			<key>Key_ValidateList</key>
			<array>
				<string>IPAddress</string>
				<string>UniqueArray</string>
			</array>
			<key>MaxLength</key>
			<string>15</string>
			<key>Error_UniqueArray</key>
			<string>ERROR_UNIQUE_DNS_ENTRIES</string>
			<key>NSAccessibility</key>
			<dict>
				<key>AXDescription</key>
				<string>dns hosts</string>
			</dict>
		</dict>
		<key>0600</key>
		<dict>
			<key>Array</key>
			<string>YES</string>
			<key>CharacterSet</key>
			<array>
				<string>Alpha-numeric</string>
				<string>-.</string>
			</array>
			<key>Key_Main</key>
			<string>MacBuddy:ManualSetup:TCPIP:TCPSearchDomain</string>
			<key>MaxLength</key>
			<string>256</string>
			<key>NSAccessibility</key>
			<dict>
				<key>AXDescription</key>
				<string>domain name</string>
			</dict>
		</dict>
		<key>0700</key>
		<dict>
			<key>Key_Main</key>
			<string>MacBuddy:ManualSetup:TCPIP:HTTPProxy</string>
			<key>NSAccessibility</key>
			<dict>
				<key>AXDescription</key>
				<string>proxy server</string>
			</dict>
		</dict>
		<key>0800</key>
		<dict>
			<key>Key_Main</key>
			<string>MacBuddy:ManualSetup:TCPIP:PPPoE</string>
		</dict>
		<key>0900</key>
		<dict>
			<key>Key_Main</key>
			<string>MacBuddy:ManualSetup:TCPIP:DHCPClientID</string>
			<key>NSAccessibility</key>
			<dict>
				<key>AXDescription</key>
				<string>dhcp client id</string>
			</dict>
		</dict>
	</dict>
	<key>nextPage</key>
	<string>LAN_PPPoE</string>
</dict>
</plist>
