<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>LAN_Auto_Configure</key>
	<dict>
		<key>0100</key>
		<dict>
			<key>Key_Main</key>
			<string>AutoConfigure</string>
		</dict>
		<key>0101</key>
		<dict>
			<key>Key_Main</key>
			<string>YES</string>
		</dict>
		<key>0102</key>
		<dict>
			<key>Key_Main</key>
			<string>NO</string>
		</dict>
	</dict>
	<key>nextPage</key>
	<string>LAN__AutoOrManualConfigure</string>
</dict>
</plist>
