<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
    <key>com.apple.digihub.cd.music.appeared</key>
    <integer>101</integer>
    <key>com.apple.digihub.cd.picture.appeared</key>
    <integer>107</integer>
    <key>com.apple.digihub.dvd.video.appeared</key>
    <integer>105</integer>
    <key>com.apple.digihub.bd.video.appeared</key>
    <integer>112</integer>
    <key>com.apple.digihub.blank.cd.appeared</key>
    <integer>2</integer>
    <key>com.apple.digihub.blank.bd.appeared</key>
    <integer>2</integer>
    <key>com.apple.digihub.blank.dvd.appeared</key>
    <integer>2</integer>
    <key>com.apple.digihub.dvddvcamera.appeared</key>
    <integer>2</integer>
    <key>com.apple.digihub.dvcamera.IIDC.appeared</key>
    <integer>111</integer>
    <key>com.apple.digihub.dvcamera.IIDC.irisopened</key>
    <integer>111</integer>
</dict>
</plist>
