<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>Want_Internet_Connect_How_No_New_ISP</key>
	<dict>
		<key>0100</key>
		<dict>
			<key>Key_ConfigureMethod</key>
			<string>MacBuddy:ManualSetup:TCPIP:TCPConfigureMethod</string>
			<key>Key_Connection</key>
			<string>Connection</string>
			<key>Key_Main</key>
			<string>MacBuddy:ManualSetup:TCPIP:Connection</string>
			<key>Key_Task</key>
			<string>Task</string>
			<key>Key_SaveList</key>
			<array>
				<string>Key_Main</string>
				<string>Key_Connection</string>
				<string>Key_ConfigureMethod</string>
				<string>Key_Task</string>
			</array>
		</dict>
		<key>0101</key>
		<dict>
			<key>Key_Task</key>
			<string>ExistingAccount</string>
			<key>Key_ConfigureMethod</key>
			<string>PPP</string>
			<key>Key_Connection</key>
			<string>Modem</string>
			<key>Key_Main</key>
			<string>PPP</string>
			<key>Key_PortAvailable</key>
			<string>ModemAvailable</string>
			<key>Key_ReadList</key>
			<array>
				<string>Key_PortAvailable</string>
			</array>
		</dict>
		<key>0102</key>
		<dict>
			<key>Key_Task</key>
			<string>ExistingAccount</string>
			<key>Key_ConfigureMethod</key>
			<string>Manual</string>
			<key>Key_Connection</key>
			<string>LAN</string>
			<key>Key_Main</key>
			<string>Ethernet</string>
			<key>Key_PortAvailable</key>
			<string>EthernetAvailable</string>
			<key>Key_ReadList</key>
			<array>
				<string>Key_PortAvailable</string>
			</array>
		</dict>
		<key>0103</key>
		<dict>
			<key>Key_Task</key>
			<string>ExistingAccount</string>
			<key>Key_ConfigureMethod</key>
			<string>DHCP</string>
			<key>Key_Connection</key>
			<string>CableModem</string>
			<key>Key_Main</key>
			<string>Ethernet</string>
			<key>Key_PortAvailable</key>
			<string>EthernetAvailable</string>
			<key>Key_ReadList</key>
			<array>
				<string>Key_PortAvailable</string>
			</array>
		</dict>
		<key>0104</key>
		<dict>
			<key>Key_Task</key>
			<string>ExistingAccount</string>
			<key>Key_ConfigureMethod</key>
			<string>DHCP</string>
			<key>Key_Connection</key>
			<string>DSL</string>
			<key>Key_Main</key>
			<string>Ethernet</string>
			<key>Key_PortAvailable</key>
			<string>EthernetAvailable</string>
			<key>Key_ReadList</key>
			<array>
				<string>Key_PortAvailable</string>
			</array>
		</dict>
		<key>0105</key>
		<dict>
			<key>Key_Task</key>
			<string>ExistingAccount</string>
			<key>Key_ConfigureMethod</key>
			<string>DHCP</string>
			<key>Key_Connection</key>
			<string>Wireless</string>
			<key>Key_Main</key>
			<string>Wireless</string>
			<key>Key_PortAvailable</key>
			<string>AirPortCardAvailable</string>
			<key>Key_ReadList</key>
			<array>
				<string>Key_PortAvailable</string>
			</array>
		</dict>
		<key>0110</key>
		<dict>
			<key>Key_Task</key>
			<string>DontWantInternet</string>
			<key>Key_Connection</key>
			<string>None</string>
			<key>Key_Main</key>
			<string>None</string>
		</dict>
	</dict>
</dict>
</plist>
