<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Modem_Ready_To_Connect</key>
	<dict>
		<key>0100</key>
		<dict>
			<key>Key_Main</key>
			<string>ModemDialingNumber</string>
		</dict>
		<key>0200</key>
		<dict>
			<key>Key_Main</key>
			<string>MacBuddy:ManualSetup:TCPIP:Login</string>
		</dict>
	</dict>
</dict>
</plist>
