<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CableModem_IP_Info</key>
	<dict>
		<key>0100</key>
		<dict>
			<key>Key_Main</key>
			<string>MacBuddy:ManualSetup:TCPIP:TCPConfigureMethod</string>
			<key>Key_PPPoE</key>
			<string>MacBuddy:ManualSetup:TCPIP:PPPoE</string>
			<key>Key_ConfigMethod</key>
			<string>ConfigMethod</string>
			<key>Key_SaveList</key>
			<array>
				<string>Key_Main</string>
				<string>Key_PPPoE</string>
			</array>
		</dict>
		<key>0101</key>
		<dict>
			<key>Key_Main</key>
			<string>DHCP</string>
			<key>Key_PPPoE</key>
			<string>NO</string>
			<key>Key_ConfigMethod</key>
			<string>DHCP</string>
		</dict>
		<key>0102</key>
		<dict>
			<key>Key_Main</key>
			<string>PPP</string>
			<key>Key_PPPoE</key>
			<string>YES</string>
			<key>Key_ConfigMethod</key>
			<string>PPPoE</string>
		</dict>
		<key>1011</key>
		<dict>
			<key>Key_Main</key>
			<string>MacBuddy:ManualSetup:TCPIP:DHCPClientID</string>
			<key>Key_ValidateList</key>
                        <array>
                            <string>Required</string>
                        </array>
		</dict>
		<key>1021</key>
		<dict>
			<key>Key_Main</key>
			<string>MacBuddy:ManualSetup:TCPIP:PPPoEUserName</string>
			<key>Key_ValidateList</key>
                        <array>
                            <string>Required</string>
                        </array>
                        <key>MaxLength</key>
                        <string>255</string>
		</dict>
		<key>1022</key>
		<dict>
			<key>Key_Main</key>
			<string>MacBuddy:ManualSetup:TCPIP:PPPoEPassword</string>
			<key>Error_Match</key>
			<string>ERROR_PASSWORD_DO_NOT_MATCH</string>
			<key>Key_ValidateList</key>
                        <array>
                            <string>Required</string>
                            <string>Match</string>
                        </array>
                        <key>MaxLength</key>
                        <string>255</string>
			<key>Match</key>
			<string>1023</string>
		</dict>
		<key>1023</key>
		<dict>
			<key>Error_Match</key>
			<string>ERROR_PASSWORD_DO_NOT_MATCH</string>
			<key>Key_ValidateList</key>
                        <array>
                            <string>Required</string>
                            <string>Match</string>
                        </array>
                        <key>MaxLength</key>
                        <string>255</string>
			<key>Match</key>
			<string>1022</string>
		</dict>
		<key>1024</key>
		<dict>
			<key>Key_Main</key>
			<string>MacBuddy:ManualSetup:TCPIP:PPPoEServiceName</string>
		</dict>
	</dict>
</dict>
</plist>
