<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFAppleHelpAnchor</key>
	<string>mchlp1065</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Software Update</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sucatalog</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-apple.sucatalog+xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SUCatalog</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Software Update</string>
	<key>CFBundleGetInfoString</key>
	<string>Software Update version 4.0, Copyright © 2000-2009, Apple Inc. All rights reserved.</string>
	<key>CFBundleIconFile</key>
	<string>Software Update.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.SoftwareUpdate</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Software Update</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.0.6</string>
	<key>CFBundleSignature</key>
	<string>swup</string>
	<key>CFBundleVersion</key>
	<string>270</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
