<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>Reg_Other</key>
	<dict>
		<key>0100</key>
		<dict>
			<key>Key_Main</key>
			<string>MacBuddy:CustomerInfo:Address:FirstName</string>
			<key>Key_Name</key>
			<string>FirstName</string>
			<key>Key_SaveList</key>
			<array>
				<string>Key_Main</string>
				<string>Key_Name</string>
			</array>
			<key>Key_ValidateList</key>
			<array>
				<string>RequiredForRegistration</string>
			</array>
			<key>MaxLength</key>
			<string>128</string>
			<key>NSAccessibility</key>
			<dict>
				<key>AXDescription</key>
				<string>first name</string>
			</dict>
		</dict>
		<key>0200</key>
		<dict>
			<key>Key_Main</key>
			<string>MacBuddy:CustomerInfo:Address:LastName</string>
			<key>Key_Name</key>
			<string>LastName</string>
			<key>Key_SaveList</key>
			<array>
				<string>Key_Main</string>
				<string>Key_Name</string>
			</array>
			<key>Key_ValidateList</key>
			<array>
				<string>RequiredForRegistration</string>
			</array>
			<key>MaxLength</key>
			<string>128</string>
			<key>NSAccessibility</key>
			<dict>
				<key>AXDescription</key>
				<string>last name</string>
			</dict>
		</dict>
		<key>0300</key>
		<dict>
			<key>Key_Main</key>
			<string>MacBuddy:CustomerInfo:Address:Company</string>
			<key>MaxLength</key>
			<string>128</string>
			<key>NSAccessibility</key>
			<dict>
				<key>AXDescription</key>
				<string>company or school</string>
			</dict>
		</dict>
		<key>0400</key>
		<dict>
			<key>Key_Main</key>
			<string>MacBuddy:CustomerInfo:Address:StreetAddr1</string>
			<key>Key_SaveList</key>
			<array>
				<string>Key_Main</string>
			</array>
			<key>Key_ValidateList</key>
			<array>
				<string>RequiredForRegistration</string>
				<string>MinLength</string>
			</array>
			<key>MaxLength</key>
			<string>128</string>
			<key>MinLength</key>
			<string>3</string>
			<key>NSAccessibility</key>
			<dict>
				<key>AXDescription</key>
				<string>address first line</string>
			</dict>
		</dict>
		<key>0500</key>
		<dict>
			<key>Key_Main</key>
			<string>MacBuddy:CustomerInfo:Address:StreetAddr2</string>
			<key>Key_SaveList</key>
			<array>
				<string>Key_Main</string>
			</array>
			<key>MaxLength</key>
			<string>128</string>
			<key>NSAccessibility</key>
			<dict>
				<key>AXDescription</key>
				<string>address second line</string>
			</dict>
		</dict>
		<key>0600</key>
		<dict>
			<key>Key_Main</key>
			<string>MacBuddy:CustomerInfo:Address:City</string>
			<key>Key_SaveList</key>
			<array>
				<string>Key_Main</string>
			</array>
			<key>Key_ValidateList</key>
			<array>
				<string>RequiredForRegistration</string>
			</array>
			<key>MaxLength</key>
			<string>128</string>
			<key>NSAccessibility</key>
			<dict>
				<key>AXDescription</key>
				<string>city</string>
			</dict>
		</dict>
		<key>0700</key>
		<dict>
			<key>Key_Main</key>
			<string>MacBuddy:CustomerInfo:Address:StateProv</string>
			<key>Key_SaveList</key>
			<array>
				<string>Key_Main</string>
			</array>
			<key>Key_ValidateList</key>
			<array>
				<string>RequiredForRegistration</string>
			</array>
			<key>MaxLength</key>
			<string>128</string>
			<key>NSAccessibility</key>
			<dict>
				<key>AXDescription</key>
				<string>state province or county</string>
			</dict>
		</dict>
		<key>0800</key>
		<dict>
			<key>CharacterSet</key>
			<array>
				<string>Alpha-numeric</string>
			</array>
			<key>Key_Main</key>
			<string>MacBuddy:CustomerInfo:Address:ZipPostal</string>
			<key>Key_SaveList</key>
			<array>
				<string>Key_Main</string>
			</array>
			<key>Key_ValidateList</key>
			<array>
				<string>RequiredForRegistration</string>
			</array>
			<key>MaxLength</key>
			<string>32</string>
			<key>NSAccessibility</key>
			<dict>
				<key>AXDescription</key>
				<string>zip code or postal code</string>
			</dict>
		</dict>
		<key>0900</key>
		<dict>
			<key>CharacterSet</key>
			<array>
				<string>Alpha-numeric</string>
				<string>!"#$%&amp;'()*+,-./:;&lt;=&gt;?@[\]^_`{|}</string>
			</array>
			<key>Key_IC</key>
			<string>MacBuddy:ManualSetup:InternetConfig:EmailAddr</string>
			<key>Key_Main</key>
			<string>MacBuddy:CustomerInfo:Address:ExistingEmailAddress</string>
			<key>Key_OptionalValidateList</key>
			<array>
				<string>EmailAddress</string>
			</array>
			<key>Key_SaveList</key>
			<array>
				<string>Key_Main</string>
				<string>Key_IC</string>
			</array>
			<key>MaxLength</key>
			<string>128</string>
			<key>NSAccessibility</key>
			<dict>
				<key>AXDescription</key>
				<string>email address if you have one</string>
			</dict>
		</dict>
		<key>1000</key>
		<dict>
			<key>CharacterSet</key>
			<array>
				<string>Integer</string>
			</array>
			<key>Key_Main</key>
			<string>MacBuddy:CustomerInfo:Address:AreaCode</string>
			<key>Key_SaveList</key>
			<array>
				<string>Key_Main</string>
			</array>
			<key>Key_ValidateList</key>
			<array>
				<string>RequiredForRegistration</string>
			</array>
			<key>MaxLength</key>
			<string>3</string>
			<key>NSAccessibility</key>
			<dict>
				<key>AXDescription</key>
				<string>area code</string>
			</dict>
		</dict>
		<key>1100</key>
		<dict>
			<key>CharacterSet</key>
			<array>
				<string>Integer</string>
				<string>-</string>
			</array>
			<key>Key_Main</key>
			<string>MacBuddy:CustomerInfo:Address:LocalPhoneNumber</string>
			<key>Key_SaveList</key>
			<array>
				<string>Key_Main</string>
			</array>
			<key>Key_ValidateList</key>
			<array>
				<string>RequiredForRegistration</string>
			</array>
			<key>MaxLength</key>
			<string>8</string>
			<key>NSAccessibility</key>
			<dict>
				<key>AXDescription</key>
				<string>phone number</string>
			</dict>
		</dict>
	</dict>
	<key>mbAfterSkipRegistration</key>
	<string>Reg__NeedAccountOrNot</string>
	<key>nextPage</key>
	<string>Reg_SPAM</string>
</dict>
</plist>
