<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Reg_Local_Account</key>
	<dict>
		<key>0100</key>
		<dict>
			<key>Key_FullName</key>
			<string>FullName</string>
			<key>Key_Main</key>
			<string>LongUsername</string>
			<key>Key_OptionalValidateList</key>
			<array>
				<string>NotNIUsername</string>
			</array>
			<key>Key_ReadList</key>
			<array>
				<string>Key_FullName</string>
			</array>
			<key>Key_ValidateList</key>
			<array>
				<string>Required</string>
				<string>AllowedAccountName</string>
			</array>
			<key>MaxLength</key>
			<string>128</string>
			<key>Warning_NotNIUsername</key>
			<string>ERROR_NIUSERNAME_EXISTS_LONGNAME</string>
			<key>NSAccessibility</key>
			<dict>
				<key>AXDescription</key>
				<string>full name</string>
			</dict>
		</dict>
		<key>0200</key>
		<dict>
			<key>CharacterSet</key>
			<array>
				<string>Alpha-numeric</string>
				<string>_</string>
			</array>
			<key>Key_Main</key>
			<string>ShortUsername</string>
			<key>Key_OptionalValidateList</key>
			<array>
				<string>NotNIUsername</string>
			</array>
			<key>Key_ValidateList</key>
			<array>
				<string>Required</string>
				<string>AllowedAccountName</string>
				<string>UnixName</string>
			</array>
			<key>MaxLength</key>
			<string>255</string>
			<key>Warning_NotNIUsername</key>
			<string>ERROR_NIUSERNAME_EXISTS_SHORTNAME</string>
			<key>DontAskAgain</key>
			<string>100</string>
			<key>NSAccessibility</key>
			<dict>
				<key>AXDescription</key>
				<string>account name</string>
			</dict>
		</dict>
		<key>0300</key>
		<dict>
			<key>Error_Match</key>
			<string>ERROR_PASSWORD_DO_NOT_MATCH</string>
			<key>Key_Main</key>
			<string>Password</string>
			<key>Key_OptionalValidateList</key>
			<array>
				<string>RequiredAny</string>
			</array>
			<key>Key_ValidateList</key>
			<array>
				<string>UnixPassword</string>
				<string>Match</string>
			</array>
			<key>Match</key>
			<string>0400</string>
			<key>Warning_RequiredAny</key>
			<string>ERROR_NO_PASSWORD_INSECURE</string>
			<key>NSAccessibility</key>
			<dict>
				<key>AXDescription</key>
				<string>password</string>
			</dict>
		</dict>
		<key>0400</key>
		<dict>
			<key>Error_Match</key>
			<string>ERROR_PASSWORD_DO_NOT_MATCH</string>
			<key>Key_ValidateList</key>
			<array>
				<string>Match</string>
			</array>
			<key>Match</key>
			<string>0300</string>
			<key>NSAccessibility</key>
			<dict>
				<key>AXDescription</key>
				<string>verify password</string>
			</dict>
		</dict>
		<key>0500</key>
		<dict>
			<key>Key_Main</key>
			<string>PasswordHint</string>
			<key>MaxLength</key>
			<string>80</string>
			<key>NSAccessibility</key>
			<dict>
				<key>AXDescription</key>
				<string>password hint optional</string>
			</dict>
			<key>Key_ValidateList</key>
			<array>
				<string>Unique</string>
			</array>
			<key>Unique</key>
			<string>0300</string>
			<key>Error_Unique</key>
			<string>ERROR_PASSWORD_CANNOT_BE_HINT</string>
		</dict>
	</dict>
	<key>nextPage</key>
	<string>Reg__HasCameraOrNot</string>
</dict>
</plist>
