<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>Reg_SPAM</key>
	<dict>
		<key>0100</key>
		<dict>
			<key>Key_Main</key>
			<string>MacBuddy:CustomerInfo:RegistrationInfo:Location</string>
			<key>Key_ValidateList</key>
			<array>
				<string>SelectionRequired</string>
			</array>
			<key>NSAccessibility</key>
			<dict>
				<key>AXDescription</key>
				<string>location</string>
			</dict>
		</dict>
		<key>0102</key>
		<dict>
			<key>Key_Main</key>
			<string>B</string>
		</dict>
		<key>0103</key>
		<dict>
			<key>Key_Main</key>
			<string>C</string>
		</dict>
		<key>0104</key>
		<dict>
			<key>Key_Main</key>
			<string>O</string>
		</dict>
		<key>0105</key>
		<dict>
			<key>Key_Main</key>
			<string>Q</string>
		</dict>
		<key>0106</key>
		<dict>
			<key>Key_Main</key>
			<string>F</string>
		</dict>
		<key>0107</key>
		<dict>
			<key>Key_Main</key>
			<string>G</string>
		</dict>
		<key>0108</key>
		<dict>
			<key>Key_Main</key>
			<string>H</string>
		</dict>
		<key>0109</key>
		<dict>
			<key>Key_Main</key>
			<string>J</string>
		</dict>
		<key>0110</key>
		<dict>
			<key>Key_Main</key>
			<string>P</string>
		</dict>
		<key>0200</key>
		<dict>
			<key>Key_Main</key>
			<string>MacBuddy:CustomerInfo:RegistrationInfo:Occupation</string>
			<key>Key_ValidateList</key>
			<array>
				<string>SelectionRequired</string>
			</array>
			<key>NSAccessibility</key>
			<dict>
				<key>AXDescription</key>
				<string>occupation</string>
			</dict>
		</dict>
		<key>0202</key>
		<dict>
			<key>Key_Main</key>
			<string>49</string>
		</dict>
		<key>0203</key>
		<dict>
			<key>Key_Main</key>
			<string>52</string>
		</dict>
		<key>0204</key>
		<dict>
			<key>Key_Main</key>
			<string>50</string>
		</dict>
		<key>0205</key>
		<dict>
			<key>Key_Main</key>
			<string>51</string>
		</dict>
		<key>0206</key>
		<dict>
			<key>Key_Main</key>
			<string>42</string>
		</dict>
		<key>0207</key>
		<dict>
			<key>Key_Main</key>
			<string>43</string>
		</dict>
		<key>0208</key>
		<dict>
			<key>Key_Main</key>
			<string>48</string>
		</dict>
		<key>0209</key>
		<dict>
			<key>Key_Main</key>
			<string>2</string>
		</dict>
		<key>0210</key>
		<dict>
			<key>Key_Main</key>
			<string>33</string>
		</dict>
		<key>0211</key>
		<dict>
			<key>Key_Main</key>
			<string>4</string>
		</dict>
		<key>0212</key>
		<dict>
			<key>Key_Main</key>
			<string>44</string>
		</dict>
		<key>0213</key>
		<dict>
			<key>Key_Main</key>
			<string>31</string>
		</dict>
		<key>0214</key>
		<dict>
			<key>Key_Main</key>
			<string>5</string>
		</dict>
		<key>0215</key>
		<dict>
			<key>Key_Main</key>
			<string>11</string>
		</dict>
		<key>0216</key>
		<dict>
			<key>Key_Main</key>
			<string>37</string>
		</dict>
		<key>0217</key>
		<dict>
			<key>Key_Main</key>
			<string>12</string>
		</dict>
		<key>0218</key>
		<dict>
			<key>Key_Main</key>
			<string>13</string>
		</dict>
		<key>0300</key>
		<dict>
			<key>Key_Apple</key>
			<string>MacBuddy:CustomerInfo:RegistrationInfo:AppleContact</string>
			<key>Key_Others</key>
			<string>MacBuddy:CustomerInfo:RegistrationInfo:OthersContact</string>
			<key>Key_SaveList</key>
			<array>
				<string>Key_Apple</string>
				<string>Key_Others</string>
			</array>
		</dict>
		<key>0301</key>
		<dict>
			<key>Key_Main</key>
			<string>YES</string>
			<key>Key_Others</key>
			<string>YES</string>
		</dict>
		<key>0302</key>
		<dict>
			<key>Key_Main</key>
			<string>NO</string>
			<key>Key_Others</key>
			<string>NO</string>
		</dict>
	</dict>
	<key>mbAfterSkipRegistration</key>
	<string>Reg__NeedAccountOrNot</string>
	<key>mbReadyToConnect</key>
	<string>Reg_Ready_To_Connect</string>
	<key>nextPage</key>
	<string>Reg__NeedAccountOrNot</string>
</dict>
</plist>
