<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>mbAltNextPage</key>
	<string>Reg_Local_Account</string>
	<key>nextPage</key>
	<string>Reg_Want_NI</string>
	<key>ClassName</key>
	<string>MBChooseHasNIOrNot</string>
</dict>
</plist>
