<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>Reg_Want_NI</key>
	<dict>
		<key>0100</key>
		<dict>
			<key>Key_Connection</key>
			<string>MacBuddy:ManualSetup:TCPIP:Connection</string>
			<key>Key_Main</key>
			<string>CreateLocalAccount</string>
			<key>Key_NetInfo</key>
			<string>UseNetInfoAccount</string>
			<key>Key_SaveList</key>
			<array>
				<string>Key_Main</string>
				<string>Key_NetInfo</string>
				<string>Key_UseiTools</string>
			</array>
			<key>Key_UseiTools</key>
			<string>UseiTools</string>
		</dict>
		<key>0101</key>
		<dict>
			<key>Key_Connection</key>
			<string>Ethernet</string>
			<key>Key_Main</key>
			<string>NO</string>
			<key>Key_NetInfo</key>
			<string>YES</string>
			<key>Key_UseiTools</key>
			<string>NO</string>
		</dict>
		<key>0102</key>
		<dict>
			<key>Key_Main</key>
			<string>YES</string>
			<key>Key_NetInfo</key>
			<string>NO</string>
		</dict>
		<key>0200</key>
		<dict>
			<key>Key_Main</key>
			<string>ShortUsername</string>
			<key>Key_ValidateList</key>
			<array>
				<string>Required</string>
				<string>NIUsername</string>
			</array>
			<key>MaxLength</key>
			<string>128</string>
			<key>NavigateByReturn</key>
			<string>YES</string>
			<key>NSAccessibility</key>
			<dict>
				<key>AXDescription</key>
				<string>name</string>
			</dict>
		</dict>
		<key>0300</key>
		<dict>
			<key>Key_Main</key>
			<string>Password</string>
			<key>Key_ValidateList</key>
			<array>
				<string>RequiredAny</string>
				<string>NIPassword</string>
			</array>
			<key>NIPassword</key>
			<string>0200</string>
			<key>NSAccessibility</key>
			<dict>
				<key>AXDescription</key>
				<string>password</string>
			</dict>
		</dict>
	</dict>
	<key>nextPage</key>
	<string>Reg__CreateLocalAccountOrNot</string>
</dict>
</plist>
