<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>STANDARD</key>
	<string>tell application "iPhoto"
activate
select photo library album
set view to import tab
set view to organize tab
select (the first photo whose image path is "%@")
set view to edit tab
end tell</string>
	<key>VERSION5</key>
	<string>tell application "iPhoto"
activate
select photo library album
set view to organize
select (the first photo whose image path is "%@")
set view to edit
end tell</string>
</dict>
</plist>
