<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.addressbook.group</key>
	<array>
		<string>TOOLTIP</string>
		<string>CREATE_WORKFLOW</string>
		<string>HIDE_RECENTS</string>
	</array>
	<key>com.apple.addressbook.person</key>
	<array>
		<string>TOOLTIP</string>
		<string>CREATE_WORKFLOW</string>
		<string>HIDE_RECENTS</string>
	</array>
	<key>com.apple.ical.bookmark</key>
	<array>
		<string>TOOLTIP</string>
		<string>HIDE_RECENTS</string>
	</array>
	<key>com.apple.ical.bookmark.todo</key>
	<array>
		<string>TOOLTIP</string>
		<string>HIDE_RECENTS</string>
	</array>
	<key>com.apple.mail.emlx</key>
	<array>
		<string>DRAGGING</string>
		<string>TOOLTIP</string>
		<string>CREATE_WORKFLOW</string>
		<string>HIDE_RECENTS</string>
	</array>
	<key>com.apple.safari.bookmark</key>
	<array>
		<string>URLTYPE</string>
		<string>DRAGGING</string>
		<string>TOOLTIP</string>
		<string>CREATE_WORKFLOW</string>
		<string>HIDE_RECENTS</string>
	</array>
	<key>com.apple.stickies.note</key>
	<array>
		<string>CREATE_WORKFLOW</string>
		<string>HIDE_RECENTS</string>
	</array>
	<key>com.apple.syndication.article</key>
	<array>
		<string>URLTYPE</string>
		<string>DRAGGING</string>
		<string>TOOLTIP</string>
		<string>HIDE_RECENTS</string>
	</array>
	<key>com.apple.systempreference.prefpane</key>
	<array>
		<string>DRAGGING</string>
		<string>TOOLTIP</string>
		<string>CREATE_WORKFLOW</string>
		<string>HIDE_RECENTS</string>
	</array>
	<key>com.microsoft.entourage.virtual.contact</key>
	<array>
		<string>TOOLTIP</string>
		<string>CREATE_WORKFLOW</string>
		<string>HIDE_RECENTS</string>
	</array>
	<key>com.microsoft.entourage.virtual.event</key>
	<array>
		<string>TOOLTIP</string>
		<string>CREATE_WORKFLOW</string>
		<string>HIDE_RECENTS</string>
	</array>
	<key>com.microsoft.entourage.virtual.group</key>
	<array>
		<string>TOOLTIP</string>
		<string>CREATE_WORKFLOW</string>
		<string>HIDE_RECENTS</string>
	</array>
	<key>com.microsoft.entourage.virtual.message</key>
	<array>
		<string>DRAGGING</string>
		<string>TOOLTIP</string>
		<string>CREATE_WORKFLOW</string>
		<string>HIDE_RECENTS</string>
	</array>
	<key>com.microsoft.entourage.virtual.note</key>
	<array>
		<string>TOOLTIP</string>
		<string>CREATE_WORKFLOW</string>
		<string>HIDE_RECENTS</string>
	</array>
	<key>com.microsoft.entourage.virtual.task</key>
	<array>
		<string>TOOLTIP</string>
		<string>CREATE_WORKFLOW</string>
		<string>HIDE_RECENTS</string>
	</array>
	<key>public.bookmark</key>
	<array>
		<string>URLTYPE</string>
		<string>DRAGGING</string>
		<string>TOOLTIP</string>
		<string>CREATE_WORKFLOW</string>
		<string>HIDE_RECENTS</string>
	</array>
	<key>public.calendar-event</key>
	<array>
		<string>DRAGGING</string>
		<string>TOOLTIP</string>
		<string>CREATE_WORKFLOW</string>
		<string>HIDE_RECENTS</string>
	</array>
	<key>public.contact</key>
	<array>
		<string>TOOLTIP</string>
		<string>CREATE_WORKFLOW</string>
		<string>HIDE_RECENTS</string>
	</array>
	<key>public.email-message</key>
	<array>
		<string>DRAGGING</string>
		<string>TOOLTIP</string>
		<string>CREATE_WORKFLOW</string>
		<string>HIDE_RECENTS</string>
	</array>
	<key>public.to-do-item</key>
	<array>
		<string>DRAGGING</string>
		<string>TOOLTIP</string>
		<string>CREATE_WORKFLOW</string>
		<string>HIDE_RECENTS</string>
	</array>
	<key>public.vcard</key>
	<array>
		<string>DRAGGING</string>
		<string>TOOLTIP</string>
		<string>SHOWPATH</string>
		<string>CREATE_WORKFLOW</string>
	</array>
</dict>
</plist>
