<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>21</string>
	<key>CFBundleShortVersionString</key>
	<string>10.6.7</string>
	<key>CFBundleVersion</key>
	<string>258</string>
	<key>ProjectName</key>
	<string>CrashCatcher</string>
	<key>SourceVersion</key>
	<string>2580000</string>
</dict>
</plist>
