<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CCacheServer</string>
	<key>CFBundleGetInfoString</key>
	<string>6.5 Copyright © 2008 Massachusetts Institute of Technology</string>
	<key>CFBundleIdentifier</key>
	<string>edu.mit.Kerberos.CCacheServer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Kerberos Credentials Cache Server</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>6.5.11</string>
	<key>CFBundleSignature</key>
	<string>CCSa</string>
	<key>CFBundleVersion</key>
	<string>6.5.11</string>
	<key>KfMDisplayCopyright</key>
	<string>Copyright © 2008 MIT</string>
	<key>KfMDisplayVersion</key>
	<string>6.5</string>
	<key>LSBackgroundOnly</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2008 Massachusetts Institute of Technology</string>
</dict>
</plist>
