<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DSL_IP_Info_More</key>
	<dict>
		<key>0100</key>
		<dict>
			<key>Key_Main</key>
			<string>MacBuddy:ManualSetup:TCPIP:TCPConfigureMethod</string>
			<key>Key_ConfigMethod</key>
			<string>ConfigMethod</string>
			<key>Key_SaveList</key>
			<array>
				<string>Key_Main</string>
				<string>Key_ConfigMethod</string>
			</array>
		</dict>
		<key>0101</key>
		<dict>
			<key>Key_Main</key>
			<string>PPP</string>
			<key>Key_ConfigMethod</key>
			<string>Static IP</string>
		</dict>
		<key>1011</key>
		<dict>
			<key>CharacterSet</key>
			<array>
				<string>Integer</string>
				<string>./</string>
			</array>
			<key>IPAddress</key>
			<string>1011</string>
			<key>Key_Main</key>
			<string>MacBuddy:ManualSetup:TCPIP:TCPStaticIP</string>
			<key>Key_OptionalValidateList</key>
			<array>
				<string>Unique</string>
			</array>
			<key>Key_ValidateList</key>
			<array>
				<string>Required</string>
				<string>IPAddress</string>
				<string>SubnetMaskConsistent</string>
			</array>
			<key>MaxLength</key>
			<string>18</string>
			<key>Router</key>
			<string>1013</string>
			<key>SubnetMask</key>
			<string>1012</string>
			<key>Unique</key>
			<string>1013</string>
			<key>Warning_Unique</key>
			<string>ERROR_IP_AND_ROUTER</string>
		</dict>
		<key>1012</key>
		<dict>
			<key>CharacterSet</key>
			<array>
				<string>Integer</string>
				<string>.</string>
			</array>
			<key>IPAddress</key>
			<string>1011</string>
			<key>Key_Main</key>
			<string>MacBuddy:ManualSetup:TCPIP:TCPSubnetMask</string>
			<key>Key_ValidateList</key>
			<array>
				<string>Required</string>
				<string>SubnetMask</string>
				<string>SubnetMaskConsistent</string>
			</array>
			<key>MaxLength</key>
			<string>15</string>
			<key>Router</key>
			<string>1013</string>
			<key>SubnetMask</key>
			<string>1012</string>
		</dict>
		<key>1013</key>
		<dict>
			<key>CharacterSet</key>
			<array>
				<string>Integer</string>
				<string>.</string>
			</array>
			<key>IPAddress</key>
			<string>1011</string>
			<key>Key_Main</key>
			<string>MacBuddy:ManualSetup:TCPIP:TCPRouter</string>
			<key>Key_ValidateList</key>
			<array>
				<string>Required</string>
				<string>IPAddress</string>
				<string>SubnetMaskConsistent</string>
			</array>
			<key>MaxLength</key>
			<string>15</string>
			<key>Router</key>
			<string>1013</string>
			<key>SubnetMask</key>
			<string>1012</string>
		</dict>
		<key>1014</key>
		<dict>
			<key>Array</key>
			<string>YES</string>
			<key>CharacterSet</key>
			<array>
				<string>Integer</string>
				<string>.</string>
			</array>
			<key>Key_Main</key>
			<string>MacBuddy:ManualSetup:TCPIP:TCPDNS</string>
			<key>Key_ValidateList</key>
			<array>
				<string>IPAddress</string>
				<string>UniqueArray</string>
			</array>
			<key>MaxLength</key>
			<string>15</string>
			<key>Error_UniqueArray</key>
			<string>ERROR_UNIQUE_DNS_ENTRIES</string>
		</dict>
		<key>1021</key>
		<dict>
			<key>Key_Main</key>
			<string>MacBuddy:ManualSetup:TCPIP:DHCPClientID</string>
			<key>Key_ValidateList</key>
                        <array>
                            <string>Required</string>
                        </array>
		</dict>
	</dict>
</dict>
</plist>
