<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DSL_IP_Info</key>
	<dict>
		<key>0100</key>
		<dict>
			<key>Key_Main</key>
			<string>MacBuddy:ManualSetup:TCPIP:TCPConfigureMethod</string>
			<key>Key_PPPoE</key>
			<string>MacBuddy:ManualSetup:TCPIP:PPPoE</string>
			<key>Key_ConfigMethod</key>
			<string>ConfigMethod</string>
			<key>Key_SaveList</key>
			<array>
				<string>Key_Main</string>
				<string>Key_PPPoE</string>
				<string>Key_ConfigMethod</string>
			</array>
		</dict>
		<key>0101</key>
		<dict>
			<key>Key_Main</key>
			<string>PPP</string>
			<key>Key_PPPoE</key>
			<string>YES</string>
			<key>Key_ConfigMethod</key>
			<string>PPPoE</string>
		</dict>
		<key>1011</key>
		<dict>
			<key>Key_Main</key>
			<string>MacBuddy:ManualSetup:TCPIP:PPPoEUserName</string>
			<key>Key_ValidateList</key>
                        <array>
                            <string>Required</string>
                        </array>
			<key>MaxLength</key>
			<string>255</string>
		</dict>
		<key>1012</key>
		<dict>
			<key>Key_Main</key>
			<string>MacBuddy:ManualSetup:TCPIP:PPPoEPassword</string>
			<key>Error_Match</key>
			<string>ERROR_PASSWORD_DO_NOT_MATCH</string>
			<key>Key_ValidateList</key>
                        <array>
                            <string>Required</string>
                            <string>Match</string>
                        </array>
			<key>MaxLength</key>
			<string>255</string>
			<key>Match</key>
			<string>1013</string>
		</dict>
		<key>1013</key>
		<dict>
			<key>Error_Match</key>
			<string>ERROR_PASSWORD_DO_NOT_MATCH</string>
			<key>Key_ValidateList</key>
                        <array>
                            <string>Required</string>
                            <string>Match</string>
                        </array>
			<key>MaxLength</key>
			<string>255</string>
			<key>Match</key>
			<string>1012</string>
		</dict>
		<key>1014</key>
		<dict>
			<key>Key_Main</key>
			<string>MacBuddy:ManualSetup:TCPIP:PPPoEServiceName</string>
		</dict>
	</dict>
	<key>moreChoicesPage</key>
	<string>DSL_IP_Info_More</string>
</dict>
</plist>
