<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Screen Sharing</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vncloc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>InternetLocationVNC.icns</string>
			<key>CFBundleTypeName</key>
			<string>VNC Internet Location</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ilvn</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Screen Sharing</string>
	<key>CFBundleGetInfoString</key>
	<string>1.1.1, Copyright © 2007-2009 Apple Inc., All Rights Reserved.</string>
	<key>CFBundleIconFile</key>
	<string>liaison</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.ScreenSharing</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Screen Sharing</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>vnc URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vnc</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.1.1</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2007-2009 Apple Inc.
All Rights Reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>SSApplication</string>
	<key>NSSupportsSuddenTermination</key>
	<string>YES</string>
</dict>
</plist>
