<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>No_Internet_Connection_Info</key>
	<dict>
		<key>0100</key>
		<dict>
			<key>CharacterSet</key>
			<array>
				<string>Integer</string>
			</array>
			<key>Key_Main</key>
			<string>MacBuddy:DialingInfo:OutsideLine</string>
			<key>MaxLength</key>
			<string>255</string>
			<key>NSAccessibility</key>
			<dict>
				<key>AXDescription</key>
				<string>dialing prefix to obtain an outside line</string>
			</dict>
		</dict>
		<key>0200</key>
		<dict>
			<key>Key_Main</key>
			<string>CallWaiting</string>
		</dict>
		<key>0201</key>
		<dict>
			<key>Key_Main</key>
			<string>YES</string>
		</dict>
		<key>0202</key>
		<dict>
			<key>Key_Main</key>
			<string>NO</string>
		</dict>
	</dict>
	<key>nextPage</key>
	<string>No_Internet__CallWaitingOrNot</string>
</dict>
</plist>
