<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TCPQuantum</key>
	<integer>1048576</integer>
	<key>activityLog</key>
	<false/>
	<key>activityLogPath</key>
	<string>/Library/Logs/AppleFileService/AppleFileServiceAccess.log</string>
	<key>activityLogSize</key>
	<integer>1000</integer>
	<key>activityLogTime</key>
	<integer>7</integer>
	<key>admin31GetsSp</key>
	<true/>
	<key>adminGetsSp</key>
	<false/>
	<key>afpServerEncoding</key>
	<integer>0</integer>
	<key>afpTCPPort</key>
	<integer>548</integer>
	<key>allowRootLogin</key>
	<false/>
	<key>attemptAdminAuth</key>
	<true/>
	<key>authenticationMode</key>
	<string>standard_and_kerberos</string>
	<key>clientSleepOnOff</key>
	<true/>
	<key>clientSleepTime</key>
	<integer>24</integer>
	<key>createHomeDir</key>
	<true/>
	<key>errorLogPath</key>
	<string>/Library/Logs/AppleFileService/AppleFileServiceError.log</string>
	<key>errorLogSize</key>
	<integer>1000</integer>
	<key>errorLogTime</key>
	<integer>0</integer>
	<key>guestAccess</key>
	<false/>
	<key>idleDisconnectFlag</key>
	<dict>
		<key>adminUsers</key>
		<true/>
		<key>guestUsers</key>
		<true/>
		<key>registeredUsers</key>
		<true/>
		<key>usersWithOpenFiles</key>
		<true/>
	</dict>
	<key>idleDisconnectMsg</key>
	<string></string>
	<key>idleDisconnectOnOff</key>
	<false/>
	<key>idleDisconnectTime</key>
	<integer>10</integer>
	<key>kerberosPrincipal</key>
	<string>afpserver</string>
	<key>lock_manager</key>
	<true/>
	<key>loggingAttributes</key>
	<dict>
		<key>logCreateDir</key>
		<true/>
		<key>logCreateFile</key>
		<true/>
		<key>logDelete</key>
		<true/>
		<key>logLogin</key>
		<true/>
		<key>logLogout</key>
		<true/>
		<key>logOpenFork</key>
		<true/>
	</dict>
	<key>loginGreeting</key>
	<string></string>
	<key>loginGreetingTime</key>
	<integer>0</integer>
	<key>maxConnections</key>
	<integer>-1</integer>
	<key>maxGuests</key>
	<integer>-1</integer>
	<key>noNetworkUsers</key>
	<false/>
	<key>reconnectKeyLocation</key>
	<string>/private/etc/AFP.conf</string>
	<key>recon1SrvrKeyTTLHrs</key>
	<integer>168</integer>
	<key>recon1TokenTTLMins</key>
	<integer>10080</integer>
	<key>reconnectFlag</key>
	<string>no_admin_kills</string>
	<key>reconnectTTLInMin</key>
	<integer>1440</integer>
	<key>replyCacheQuantum</key>
	<integer>32</integer>
	<key>sendGreetingOnce</key>
	<false/>
	<key>shutdownThreshold</key>
	<integer>3</integer>
	<key>specialAdminPrivs</key>
	<false/>
	<key>tickleTime</key>
	<integer>30</integer>
	<key>tcpWindowSize</key>
	<integer>64</integer>
	<key>updateHomeDirQuota</key>
	<true/>
</dict>
</plist>
