<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>debug</key>
	<dict>
		<key>enabled</key>
		<false/>
		<key>level</key>
		<integer>0</integer>
	</dict>
	<key>log</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>level</key>
		<integer>1</integer>
	</dict>
	<key>num_workers</key>
	<integer>0</integer>
	<key>listen_backlog</key>
	<integer>0</integer>
	<key>service</key>
	<array>
		<dict>
			<key>auth_to_server</key>
			<dict>
				<key>clear</key>
				<true/>
				<key>crammd5</key>
				<true/>
				<key>login</key>
				<true/>
				<key>plain</key>
				<true/>
			</dict>
			<key>bind_address</key>
			<string></string>
			<key>bind_port</key>
			<integer>993</integer>
			<key>dest_address</key>
			<string></string>
			<key>dest_port</key>
			<integer>143</integer>
			<key>dest_ssl_enabled</key>
			<false/>
			<key>enabled</key>
			<true/>
			<key>proxy_ssl_enabled</key>
			<true/>
			<key>ssl_certificate_path</key>
			<string></string>
			<key>ssl_private_key_path</key>
			<string></string>
			<key>type</key>
			<string>imap</string>
		</dict>
		<dict>
			<key>auth_to_server</key>
			<dict>
				<key>crammd5</key>
				<true/>
				<key>login</key>
				<true/>
				<key>none</key>
				<true/>
				<key>plain</key>
				<true/>
			</dict>
			<key>bind_address</key>
			<string></string>
			<key>bind_port</key>
			<integer>587</integer>
			<key>dest_address</key>
			<string></string>
			<key>dest_port</key>
			<integer>25</integer>
			<key>dest_ssl_enabled</key>
			<false/>
			<key>enabled</key>
			<true/>
			<key>proxy_ssl_enabled</key>
			<false/>
			<key>proxy_starttls_enabled</key>
			<true/>
			<key>ssl_certificate_path</key>
			<string></string>
			<key>ssl_private_key_path</key>
			<string></string>
			<key>type</key>
			<string>smtp</string>
		</dict>
	</array>
</dict>
</plist>
