<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application-Group</key>
	<string>dot-mac</string>
	<key>CFAppleHelpAnchor</key>
	<string>mchlp001</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folder</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fold</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cannedSearch</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>SmartFolder.icns</string>
			<key>CFBundleTypeName</key>
			<string>Predefined Search</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>savedSearch</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>SmartFolder.icns</string>
			<key>CFBundleTypeName</key>
			<string>Saved Search Query</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pictClipping</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ClippingPicture.icns</string>
			<key>CFBundleTypeName</key>
			<string>Picture Clipping</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>clpp</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>textClipping</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ClippingText.icns</string>
			<key>CFBundleTypeName</key>
			<string>Text Clipping</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>clpt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sndClipping</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ClippingSound.icns</string>
			<key>CFBundleTypeName</key>
			<string>Sound Clipping</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>clps</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>Clipping</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ClippingUnknown.icns</string>
			<key>CFBundleTypeName</key>
			<string>Clipping</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>clpu</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>webloc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>InternetLocationHTTP.icns</string>
			<key>CFBundleTypeName</key>
			<string>Web Internet Location</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ilht</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mailloc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>InternetLocationMAILTO.icns</string>
			<key>CFBundleTypeName</key>
			<string>Mail Internet Location</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ilma</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>afploc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>InternetLocationAFP.icns</string>
			<key>CFBundleTypeName</key>
			<string>AFP Internet Location</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ilaf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>atloc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>InternetLocationGeneric.icns</string>
			<key>CFBundleTypeName</key>
			<string>AppleTalk Internet Location</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ilat</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nslloc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>InternetLocationGeneric.icns</string>
			<key>CFBundleTypeName</key>
			<string>NSL Internet Location</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ilns</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>inetloc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>InternetLocationGeneric.icns</string>
			<key>CFBundleTypeName</key>
			<string>Internet Location</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ilge</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Volume</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>disk</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fileloc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>InternetLocationFile.icns</string>
			<key>CFBundleTypeName</key>
			<string>File Internet Location</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ilfi</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ftploc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>InternetLocationFTP.icns</string>
			<key>CFBundleTypeName</key>
			<string>FTP Internet Location</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ilft</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>newsloc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>InternetLocationNEWS.icns</string>
			<key>CFBundleTypeName</key>
			<string>News Internet Location</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ilnw</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>BurnableFolderIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Burn Folder</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.finder.burn-folder</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>BackupSnapshot.icns</string>
			<key>CFBundleTypeName</key>
			<string>Backup Snapshot</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.finder.backup-snapshot</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Finder</string>
	<key>CFBundleGetInfoString</key>
	<string>Mac OS X Finder 10.6.8</string>
	<key>CFBundleIconFile</key>
	<string>Finder.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.finder</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Finder</string>
	<key>CFBundlePackageType</key>
	<string>FNDR</string>
	<key>CFBundleShortVersionString</key>
	<string>10.6.8</string>
	<key>CFBundleSignature</key>
	<string>MACS</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>AFP URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>afp</string>
			</array>
			<key>LSIsAppleDefaultForScheme</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>File URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>file</string>
			</array>
			<key>LSIsAppleDefaultForScheme</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>FTP URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ftp</string>
			</array>
			<key>LSIsAppleDefaultForScheme</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>SMB URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>smb</string>
				<string>cifs</string>
			</array>
			<key>LSIsAppleDefaultForScheme</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>10.6.8</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSArchitecturePriority</key>
	<array>
		<string>x86_64</string>
		<string>i386</string>
		<string>ppc</string>
	</array>
	<key>LSLaunchDLabel</key>
	<string>com.apple.Finder</string>
	<key>LSProcessControlValue</key>
	<string>None</string>
	<key>LSRequiresNativeExecution</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<string>Yes</string>
	<key>NSMainNibFile</key>
	<string>Application</string>
	<key>NSPrincipalClass</key>
	<string>TApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Finder/Open</string>
			</dict>
			<key>NSMessage</key>
			<string>open</string>
			<key>NSPortName</key>
			<string>Finder</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Finder/Reveal</string>
			</dict>
			<key>NSMessage</key>
			<string>reveal</string>
			<key>NSPortName</key>
			<string>Finder</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Finder/Show Info</string>
			</dict>
			<key>NSMessage</key>
			<string>showInfo</string>
			<key>NSPortName</key>
			<string>Finder</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.folder</string>
			<key>UTTypeDescription</key>
			<string>burn folder</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.finder.burn-folder</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>fpbf</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.data</string>
			<key>UTTypeDescription</key>
			<string>smart folder</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.finder.smart-folder</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>savedSearch</string>
			</dict>
		</dict>
	</array>
	<key>com.apple.PreferenceSync.ExcludeSyncKeys</key>
	<array>
		<string>BackupProgressWindowLocation</string>
		<string>BurnProgressWindowLocation</string>
		<string>ComputerOptions</string>
		<string>ComputerViewSettings</string>
		<string>CopyProgressWindowLocation</string>
		<string>DefaultSearchViewOptions</string>
		<string>DesktopViewOptions</string>
		<string>EmptyTrashProgressWindowLocation</string>
		<string>FileViewer.LastWindowLocation</string>
		<string>FXConnectToBounds</string>
		<string>FXConnectToLastURL</string>
		<string>FXDefaultSearchScope</string>
		<string>FXDesktopVolumePositions</string>
		<string>FXPreferencesWindow.Location</string>
		<string>FXRecentFolders</string>
		<string>FXToolbarPrefsVersion</string>
		<string>GoToField</string>
		<string>InspectorWindow.Location</string>
		<string>MountProgressWindowLocation</string>
		<string>NetworkViewOptions</string>
		<string>NetworkViewSettings</string>
		<string>NewWindowTargetPath</string>
		<string>ODSAskToUseProgressWindowLocation</string>
		<string>PackageViewSettings</string>
		<string>StandardSearchViewSettings</string>
		<string>TrashOptions</string>
		<string>TrashViewSettings</string>
		<string>ViewOptionsWindow.Location</string>
		<string>WindowState</string>
	</array>
</dict>
</plist>
