<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>ISP_PPP_Info_No_Call_Waiting</key>
	<dict>
		<key>0100</key>
		<dict>
			<key>Key_Main</key>
			<string>MacBuddy:ManualSetup:TCPIP:Login</string>
			<key>NSAccessibility</key>
			<dict>
				<key>AXDescription</key>
				<string>user name</string>
			</dict>
		</dict>
		<key>0200</key>
		<dict>
			<key>Key_Main</key>
			<string>MacBuddy:ManualSetup:TCPIP:LoginPassword</string>
			<key>NSAccessibility</key>
			<dict>
				<key>AXDescription</key>
				<string>password</string>
			</dict>
		</dict>
		<key>0300</key>
		<dict>
			<key>Key_Main</key>
			<string>MacBuddy:ManualSetup:TCPIP:Phone</string>
			<key>Key_ValidateList</key>
			<array>
				<string>Required</string>
			</array>
			<key>NSAccessibility</key>
			<dict>
				<key>AXDescription</key>
				<string>ISP phone number</string>
			</dict>
		</dict>
		<key>0400</key>
		<dict>
			<key>Key_Main</key>
			<string>MacBuddy:DialingInfo:OutsideLine</string>
			<key>NSAccessibility</key>
			<dict>
				<key>AXDescription</key>
				<string>dialing prefix to obtain an outside line</string>
			</dict>
		</dict>
		<key>ISO Country Code</key>
		<array>
			<string>JP</string>
			<string>DE</string>
		</array>
	</dict>
	<key>mbNextCountryPage</key>
	<string>ISP_PPP_Info</string>
	<key>nextPage</key>
	<string>ISP_Modem_Selection</string>
</dict>
</plist>
