<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>excludedAlways</key>
	<array>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/FileSync</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/Mirrors</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/Logs/MirrorAgent.log</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/Logs/FileSyncAgent.log</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/Preferences/com.apple.FileSyncUI.plist</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/Preferences/com.apple.homeSync.plist</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/Preferences/com.apple.mcxMenuExtras.plist</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/.account</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/.Cleanup At Startup</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/.FileSync</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/.fseventsd</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/.mcxlc</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/.Spotlight-V100</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/.TemporaryItems</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>is</string>
			<key>value</key>
			<string>.com.apple.timemachine.supported</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>startsWith</string>
			<key>value</key>
			<string>.afpDeleted</string>
		</dict>
	</array>
	<key>excludedItems</key>
	<array>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/.SymAVQSFile</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/.Trash</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/.Trashes</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Documents/Microsoft User Data</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/NAVMac800QSFile</string>
		</dict>
	</array>
	<key>excludedItems-10.4.3</key>
	<array>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/.Trash</string>
		</dict>
	</array>
	<key>excludedPrefItems</key>
	<array>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/.SymAVQSFile</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/.Trash</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/.Trashes</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Documents/Microsoft User Data/Entourage Temp</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/Application Support/SyncServices</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/Application Support/MobileSync</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/Caches</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/Calendars/Calendar Cache</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/Logs</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/Mail/AvailableFeeds</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/Mail/Envelope Index</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/Preferences/Macromedia/Flash Player</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/Printers</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/PubSub/Database</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/PubSub/Downloads</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/PubSub/Feeds</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/Safari/Icons.db</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/Safari/HistoryIndex.sk</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/iTunes/iPhone Software Updates</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>startsWith</string>
			<key>value</key>
			<string>IMAP-</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>startsWith</string>
			<key>value</key>
			<string>Exchange-</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>startsWith</string>
			<key>value</key>
			<string>EWS-</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>startsWith</string>
			<key>value</key>
			<string>Mac-</string>
		</dict>
	</array>
	<key>excludedPrefItems-10.4.3</key>
	<array>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/Application Support/SyncServices</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/Caches</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/Logs</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/Preferences/ByHost</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/Printers</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/Safari/Icons</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>startsWith</string>
			<key>value</key>
			<string>IMAP-</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>startsWith</string>
			<key>value</key>
			<string>Mac-</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/Preferences/com.apple.dock.plist</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/Preferences/com.apple.iChatAgent.plist</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/Preferences/com.apple.sidebarlists.plist</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/Preferences/com.apple.systemuiserver.plist</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/Preferences/loginwindow.plist</string>
		</dict>
	</array>
	<key>excludedPrefItems-10.5</key>
	<array>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/.SymAVQSFile</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/.Trash</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/.Trashes</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/Application Support/SyncServices</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/Caches</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/Logs</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>fullPath</string>
			<key>value</key>
			<string>~/Library/Printers</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>startsWith</string>
			<key>value</key>
			<string>IMAP-</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>startsWith</string>
			<key>value</key>
			<string>Exchange-</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>startsWith</string>
			<key>value</key>
			<string>Mac-</string>
		</dict>
	</array>
	<key>syncedFolders</key>
	<array>
		<dict>
			<key>path</key>
			<string>~</string>
		</dict>
	</array>
	<key>syncedPrefFolders</key>
	<array>
		<dict>
			<key>path</key>
			<string>~/Library</string>
		</dict>
		<dict>
			<key>path</key>
			<string>~/Documents/Microsoft User Data</string>
		</dict>
	</array>
</dict>
</plist>
