<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Archive Utility</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
				<string>fold</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pax</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>bah-pax.icns</string>
			<key>CFBundleTypeName</key>
			<string>PAX archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cpio</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>bah-cpio.icns</string>
			<key>CFBundleTypeName</key>
			<string>CPIO archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cpgz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>bah-cpgz.icns</string>
			<key>CFBundleTypeName</key>
			<string>CPGZ archive</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zip</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>bah-zip.icns</string>
			<key>CFBundleTypeName</key>
			<string>ZIP archive</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tar</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>bah-tar.icns</string>
			<key>CFBundleTypeName</key>
			<string>tar archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tgz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>bah-tgz.icns</string>
			<key>CFBundleTypeName</key>
			<string>gzip compressed tar archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tbz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>bah-tbz.icns</string>
			<key>CFBundleTypeName</key>
			<string>bzip2 compressed tar archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tbz2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>bah-tbz2.icns</string>
			<key>CFBundleTypeName</key>
			<string>bzip2 compressed tar archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>bah-gz.icns</string>
			<key>CFBundleTypeName</key>
			<string>gzip compressed archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>z</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>bah-z.icns</string>
			<key>CFBundleTypeName</key>
			<string>unix compressed archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>bah-bz.icns</string>
			<key>CFBundleTypeName</key>
			<string>bzip2 compressed archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bz2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>bah-bz2.icns</string>
			<key>CFBundleTypeName</key>
			<string>bzip2 compressed archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bin</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>bah-bin.icns</string>
			<key>CFBundleTypeName</key>
			<string>MacBinary archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hqx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>bah-hqx.icns</string>
			<key>CFBundleTypeName</key>
			<string>BinHex archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>uu</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>bah-uu.icns</string>
			<key>CFBundleTypeName</key>
			<string>uuencoded archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>as</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>bah-as.icns</string>
			<key>CFBundleTypeName</key>
			<string>AppleSingle archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Archive Utility</string>
	<key>CFBundleIconFile</key>
	<string>bah.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.archiveutility</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Archive Utility</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>10.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>47</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© 2003-2008 Apple Inc. All Rights Reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
